#footer.f2 {
    .contact .col {
        border-right: 0;
    }

    .copyright {
        width: 100%;
        color: #fff;
    }

    .social-icons {
        width: 100%;
        text-align: right;
    }

    >.row {
        padding: 8vh 0 0;
    }
}