.gform_wrapper {
    div.validation_error {
        color: #fff;
        background: $error;
        border-color: $error;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 1rem;
    }

    li.gfield.gfield_error.gfield_contains_required {

        div.ginput_container,
        label.gfield_label {
            margin: 0;
        }
    }

    li.gfield_error {

        input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
        textarea.textarea {
            border: 1px solid $error;
            padding: 10px !important;
            margin: 0;
        }
    }

    &.gform_validation_error {
        .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
            max-width: 100% !important;
            border: 0;
            background: transparent;
            margin: 0;
        }
    }
}

footer .gform_wrapper .field_description_below .gfield_description {
    padding: 0 !important;
    margin-bottom: 15px;
    color: $error;
}