#hero {
    height: 100vh;
    padding: 0;
    display: flex;
    overflow: hidden;
    margin: 0;
    align-items: center;
    justify-content: center;

    &.video-overlay:before {
        background: rgba(0, 0, 0, 0.2);
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 100vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
    }

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100vw;
        min-height: 100vh;
        width: auto;
        height: auto;
        z-index: 1;
        transform: translateX(-50%) translateY(-50%);
        background-size: cover;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100vw;
        max-width: none;
        z-index: -1;
        animation: kenburns-top 20s ease-out both;
        width: 100%;
        height: auto;
        min-height: auto;

        @include mq(xxl) {
            min-height: 100vh;
            width: auto;
        }
    }

    &.no-overlay:before {
        display: none !important;
    }

    .inner {

        &.left {
            margin-right: auto;
        }

        .info {
            display: block;
            position: relative;
            margin: 0 auto;
            z-index: 2;
            width: 100%;
            max-width: calc(100% - 30px);

            @include mq(lg) {
                max-width: 75vw;
            }

            @include mq(xl) {
                width: 50vw;
                max-width: 800px;
            }

            h1 {
                font-size: 5em;
                color: $white;
                line-height: 1.1;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 3vh;
            }

            .btn {
                width: 100%;
                display: block;
            }

            &.left {
                max-width: calc(100% - 30px);
                margin: 0 auto;

                @include mq(lg) {
                    margin: 0 8.333337vw;
                }

                h1 {
                    font-size: 5rem;
                    margin-bottom: 0;
                    text-align: left;
                }

                h3 {
                    color: $white;
                    font-size: 1.7rem;
                    text-align: left;
                    margin-bottom: 40px;
                }

                .btn {
                    max-width: 350px;
                }
            }
        }
    }
}


#hero.hero-slider {
    height: 100vh;
    display: block;
    align-items: unset;
    justify-content: unset;

    .swiper-slide {
        width: 100%;
        height: 100vh;
        min-width: 100%;
        display: block;

        .inner-flex {
            display: flex;
            height: 100%;
            width: 100%;
        }

        &.overlay::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .3);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
    }
}