#page-header {
    height: 30vh !important;
    border: none;
    position: relative;
}

#page-header .info {
    margin-top: 150px !important;
}

#page-header h1,
#page-header h4 {
    text-align: center !important;
    -webkit-animation: tracking-in-expand 1.6s cubic-bezier(0.215, 0.61, 0.355, 1) 1s both;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1.6s both;
}

#page-header h4 {
    color: $primary;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#page-header:before {
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}