#sidebar h3 {
    margin: 0;
}

#sidebar .sidebar-menu,
#sidebar .sidebar-menu-ul ul {
    list-style-type: none;
    margin: 30px 0;
    padding: 0;
    border-right: 2px solid $primary;
    width: 100%;
}

#sidebar .sidebar-menu li,
#sidebar .sidebar-menu-ul ul li {
    margin: 0;
    padding: 10px 10px 10px 0;
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}

#sidebar .sidebar-menu li:hover,
#sidebar .sidebar-menu-ul ul li:hover {
    background: $primary;
    cursor: pointer;
}

#sidebar .sidebar-menu li:hover a,
#sidebar .sidebar-menu-ul ul li:hover a {
    left: 20px;
    color: $white;
}

#sidebar .sidebar-menu li a,
#sidebar .sidebar-menu-ul ul li a {
    display: block;
    padding-right: 20px;
    position: relative;
    left: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}

#sidebar .sidebar-menu li.active a,
#sidebar .sidebar-menu li.current_page_item a,
#sidebar .sidebar-menu-ul ul li.active a,
#sidebar .sidebar-menu-ul ul li.current_page_item a {
    color: $white;
}

#sidebar .sidebar-menu li.active:before,
#sidebar .sidebar-menu li.current_page_item:before,
#sidebar .sidebar-menu-ul ul li.active:before,
#sidebar .sidebar-menu-ul ul li.current_page_item:before {
    position: absolute;
    right: -20px;
    top: 50%;
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    z-index: 2;
    transform: translateY(-50%);
    margin: auto;
    border-top: 21px solid transparent !important;
    border-bottom: 21px solid transparent !important;
    border-left: 20px solid $primary;
}

#sidebar .sidebar-menu li.active:after,
#sidebar .sidebar-menu li.current_page_item:after,
#sidebar .sidebar-menu-ul ul li.active:after,
#sidebar .sidebar-menu-ul ul li.current_page_item:after {
    position: absolute;
    right: -23px;
    top: 50%;
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    z-index: 1;
    transform: translateY(-50%);
    margin: auto;
    border-top: 24px solid transparent !important;
    border-bottom: 24px solid transparent !important;
    border-left: 23px solid $primary;
}

#sidebar .testimonial-container {
    padding: 20px;
    color: $white;
}

#sidebar .testimonial-container h3 {
    color: $white;
}

#sidebar .testimonial-container .testimonials-rotator .owl-nav,
#sidebar .testimonial-container .testimonials-rotator .owl-dots {
    display: none;
}

#sidebar .testimonial-container .testimonials-rotator .item {
    padding: 30px;
    text-align: center;
}

#sidebar.sidebar-right .sidebar-menu,
#sidebar.sidebar-right .sidebar-menu-ul ul {
    border-right: none;
    border-left: 2px solid $primary;
}

#sidebar.sidebar-right .sidebar-menu li.active:before,
#sidebar.sidebar-right .sidebar-menu li.current_page_item:before,
#sidebar.sidebar-right .sidebar-menu-ul ul li.active:before,
#sidebar.sidebar-right .sidebar-menu-ul ul li.current_page_item:before {
    left: -20px;
    right: auto;
    border-right: 20px solid $primary;
    border-left: 0;
}

#sidebar.sidebar-right .sidebar-menu li.active:after,
#sidebar.sidebar-right .sidebar-menu li.current_page_item:after,
#sidebar.sidebar-right .sidebar-menu-ul ul li.active:after,
#sidebar.sidebar-right .sidebar-menu-ul ul li.current_page_item:after {
    right: auto;
    left: -23px;
    border-right: 23px solid $primary;
    border-left: 0;
}

#sidebar .sidebar-gallery {
    margin: 5vh 0;
    text-align: center;
}

#sidebar .sidebar-gallery .mini-gallery {
    list-style: none;
    margin-top: 15px;
}

#sidebar .sidebar-gallery .mini-gallery .owl-nav {
    display: none;
}

#sidebar .sidebar-gallery .mini-gallery .owl-dot {
    margin: 8px 0;
}

#sidebar .sidebar-gallery .mini-gallery .owl-dot span {
    background: #000000;
}