#sidebar {
    @include mq($until: lg) {
        display: none;
    }
    h3 {
        margin: 0;
    }

    .sidebar-item {
        border: 2px solid $primary;
        border-radius: 10px;
        overflow: hidden;

        &.sidebar-menu-sticky {
            position: sticky;
            top: 120px;
        }

        h5 {
            padding: 20px;
            text-align: center;
            background: $primary;
            color: $white;
            margin: 0;
            border-bottom: 1px solid $white;
        }

        .sidebar-menu {
            border: 0;
            margin: 0;

            &::before,
            &::after {
                display: none !important;
            }

            li {
                margin: 0;
                padding: 0;
                a {
                    padding: 20px;
                    left: 0;
                }
            }
        }
    }

    .sidebar-menu-ul ul,
    .sidebar-menu {
        list-style-type: none;
        margin: 30px 0;
        padding: 0;
        border-right: 2px solid $primary;
        width: 100%;

        li {
            margin: 0;
            padding: 10px 10px 10px 0;
            position: relative;
            transition: 0.3s;

            &:hover {
                background: $primary;

                a {
                    left: 20px;
                    color: $white;
                }
            }

            a {
                display: block;
                padding-right: 20px;
                position: relative;
                left: 10px;
                transition: 0.3s;
            }

            &.active,
            &.current_page_item {
                a {
                    color: $primary;
                    &:hover {
                        color: $white;
                    }
                }

                &::before {
                    position: absolute;
                    right: -20px;
                    top: 50%;
                    content: "";
                    display: block;
                    width: 0px;
                    height: 0px;
                    z-index: 2;
                    transform: translateY(-50%);
                    margin: auto;
                    border-top: 21px solid transparent !important;
                    border-bottom: 21px solid transparent !important;
                    border-left: 20px solid $primary;
                }

                &::after {
                    position: absolute;
                    right: -23px;
                    top: 50%;
                    content: "";
                    display: block;
                    width: 0px;
                    height: 0px;
                    z-index: 1;
                    transform: translateY(-50%);
                    margin: auto;
                    border-top: 24px solid transparent !important;
                    border-bottom: 24px solid transparent !important;
                    border-left: 23px solid $primary;
                }
            }
        }
    }

    .testimonial-container {
        padding: 20px;
        color: $white;

        h3 {
            color: $white;
        }
    }

    &.sidebar-right {
        .sidebar-menu,
        .sidebar-menu-ul ul {
            border-right: none;
            border-left: 2px solid $primary;

            li {
                &.active,
                &.current_page_item {
                    &::before {
                        left: -20px;
                        right: auto;
                        border-right: 20px solid $primary;
                        border-left: 0;
                    }

                    &::after {
                        right: auto;
                        left: -23px;
                        border-right: 23px solid $primary;
                        border-left: 0;
                    }
                }
            }
        }
    }

    .sidebar-gallery {
        margin: 5vh 0;
        text-align: center;

        .mini-gallery {
            list-style: none;
            margin-top: 15px;
        }
    }

    .sidebar-item {
        &:first-child {
            background: $primary;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 25px;
            text-align: center;

            h5 {
                color: $white;
                margin: 0 0 15px;
                padding-top: 0;
            }
        }
    }
}
