.content {
    h1 {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $primary;
        line-height: 1em;
    }
}

article {
    clear: both;

    h3 {
        margin-bottom: 25px;
    }

    &.blog-article {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px dashed $primary;
        float: left;

        .read-more {
            display: block;
            margin-top: 25px;
            width: 250px;
        }

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
        }
    }

    .img {
        float: left;
    }
}

.post-meta {
    clear: none;
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;

    >span {
        margin-right: 15px;
    }

    .fa {
        margin-right: 5px;
    }
}

.post-img {
    padding: 0 !important;
}