.taptap-widgets-wrapper .widget {
    a {
        color: $white;
        border: 1px solid $primary;
        background: $primary;
        transition: 0.4s;
    }

    &:hover {
        color: $primary;
        background: $white;
    }
}