// ==========================================================================
// Bootstrap
// ==========================================================================

@import "vendor/bootstrap/bootstrap-variables",
"vendor/bootstrap/bootstrap";

// ==========================================================================
// Core
// ==========================================================================

@import "core/mq-breakpoints",
"core/functions",
"core/mixins";

// ==========================================================================
// Dependencies
// ==========================================================================

@import "../../../node_modules/sass-mq/mq";


// ==========================================================================
// Base
// ==========================================================================

@import "base/typography",
"base/colors",
"base/helpers",
"base/base",
"base/buttons",
"base/padding",
"base/headings";

// ==========================================================================
// Plugins
// ==========================================================================

@import "plugins/gravityforms",
"plugins/magnific-popup";

// ==========================================================================
// Components
// ==========================================================================

@import "components/blocks",
"components/social-icons",
"components/site-nav",
"components/page-header",
"components/hero",
"components/single-page",
"components/related-posts",
"components/sidebar",
"components/testimonials",
"components/taptap";

// ==========================================================================
// Headers
// ==========================================================================

@import "headers/header",
"headers/header1",
"headers/header2",
"headers/header3",
"headers/header4";

// ==========================================================================
// Procedures
// ==========================================================================

@import "procedures/procedure-cards",
"procedures/procedure-grid",
"procedures/procedure-hover",
"procedures/procedures-accordian",
"procedures/procedures-hover";

// ==========================================================================
// Gallery
// ==========================================================================

@import "galleries/gallery",
"galleries/archive2",
"galleries/single1",
"galleries/single2",
"galleries/single3";

// ==========================================================================
// Footers
// ==========================================================================

@import "footers/footer",
"footers/footer1",
"footers/footer2",
"footers/footer3",
"footers/footer4",
"footers/footer5",
"footers/footer6",
"footers/footer7",
"footers/footer8";