@media screen and (max-width: 1440px) {

    body {}

    #footer.f4 h4 {
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 0;
    }

    #header.header3 nav.ubermenu {
        width: 66vw;
    }

    /* Header 2 - H_02 */
    .header2 nav .ubermenu-nav,
    #stickyHeader nav .ubermenu-nav {
        display: flex;
    }

    .header2 nav .ubermenu-nav .ubermenu-item.ubermenu-item-level-0,
    #stickyHeader nav .ubermenu-nav .ubermenu-item.ubermenu-item-level-0 {
        flex-grow: 1;
        text-align: center;
    }

    /* HOME SLIDER */
    #hero img {
        width: 100%;
        height: auto;
        min-height: auto;
    }

    #hero.video-overlay {
        height: 100vh;
    }

    /* Procedure Section */
    .procedure-block .procedure-layout .procedure-card .card-bottom h3 {
        font-size: 1em;
        line-height: 2;
    }

    .procedure-block .procedure-layout .procedure-card .card-bottom:hover h3 {
        bottom: 42%;
    }

    .card-holder {
        height: 67vh;
    }
}

@media screen and (max-width: 1199px) {
    #header.header3 nav.ubermenu .ubermenu-nav li a {
        padding: 15px 5px;
    }

    /* Header 2 - H_02 */
    .header2 .btn,
    #stickyHeader .btn {
        right: 15px;
        height: 40px;
        width: 40px;
        padding: 0;
        position: absolute;
        top: 25px;
    }

    .header2 .btn i,
    #stickyHeader .btn i {
        left: 0;
        top: 0;
        line-height: 40px;
    }

    .header2 .btn span,
    #stickyHeader .btn span {
        display: none;
    }

    /* HOME SLIDER */
    #hero {
        height: 76vh;
    }

    #hero .inner .info {
        width: 100%;
        max-width: 75vw;
    }

    #hero .inner .info h1 {
        margin-bottom: 3vh;
    }

    /* FOOTER */
    #footer.f3 .blog-roll .row:last-child {
        display: none;
    }

    /* SIDEBAR */
    #sidebar .testimonial-container .testimonials-rotator .item {
        padding: 10px 0;
    }
}

@media screen and (max-width: 991px) {
    body {
        font-size: 16px;
    }

    .nopad-right {
        padding-right: 15px;
    }

    .nopad-left {
        padding-left: 15px;
    }

    .sm-pad {
        padding: 0 15px !important;
    }

    .min-500 {
        min-height: 500px;
    }

    /* TAPTAP */
    .taptap-menu-button-wrapper {
        top: 21px;
        z-index: 9999999;
    }

    /* LOFTLOADER */
    #loftloader-wrapper {
        z-index: 99999999 !important;
    }

    /* HEADERS*/
    #header.header1 #logo {
        position: absolute;
        left: 80px;
        top: 15px;
    }

    #header.header1 nav {
        display: none !important;
    }

    #header.header1 .social-icons {
        display: none !important;
    }

    #header.header1 .btn {
        right: 15px;
        height: 40px;
        width: 40px;
        padding: 0;
        position: absolute;
        top: 25px;
    }

    #header.header1 .btn i {
        left: 0;
        top: 0;
        line-height: 40px;
    }

    #header.header1 .btn span {
        display: none;
    }

    #header.header3 #logo {
        position: absolute;
        left: 80px;
        top: 15px;
    }

    #header.header3 nav {
        display: none !important;
    }

    #header.header3 .social-icons {
        display: none !important;
    }

    #header.header3 .btn {
        right: 15px;
        height: 40px;
        width: 40px;
        padding: 0;
        position: absolute;
        top: 25px;
    }

    #header.header3 .btn i {
        left: 0;
        top: 0;
        line-height: 40px;
    }

    #header.header3 .btn span {
        display: none;
    }

    /* Header 2 - H_02 */
    .header2 #logo,
    #stickyHeader #logo {
        left: 80px;
    }

    .header2 nav,
    #stickyHeader nav {
        display: none !important;
    }

    /* HOME SLIDER */
    #hero {
        height: 59vh;
    }

    #hero .inner .info {
        max-width: calc(100% - 30px);
    }

    #hero .inner .info.left {
        max-width: calc(100% - 30px);
        margin: 0 auto;
    }

    /* PROCEDURES */
    .procedures-hover .procedures-rotator .item .excerpt {
        top: 19%;
    }

    .procedures-hover .procedures-rotator .item .btn {
        top: 88%;
    }

    .procedures-half .procedures-half-rotator .item {
        min-width: 200px;
    }

    .procedures-half .procedures-half-rotator .item .small-desc {
        top: 14%;
        line-height: 1.3em;
    }

    .procedures-accordian .procedures-title {
        padding: 15px 0;
    }

    .procedures-accordian .procedures {
        height: auto;
    }

    .procedures-accordian .procedures>li {
        width: 33.33333%;
    }

    .procedures-accordian .procedures>li.active {
        width: 33.333%;
    }

    .procedures-accordian .procedures.active>li:not(.active) {
        width: 33.333%;
    }

    .card-holder {
        width: 48%;
    }

    /* SLANTS */
    .slant-left svg {
        top: auto;
        bottom: 0;
    }

    .slant-left svg polygon {
        fill: $white;
    }

    .slant-right svg {
        bottom: auto;
        top: 0;
    }

    .slant-right svg polygon {
        fill: $white;
    }

    /* TESTIMONIALS */
    .testimonials .primary-border {
        margin: 5vh 0;
    }

    .testimonials .primary-border h3 span {
        font-size: .9em;
    }

    .testimonials .testimonials-rotator {
        max-width: 88vw;
    }

    .testimonials .testimonials-rotator .owl-nav .owl-prev {
        left: -21px;
    }

    .testimonials .testimonials-rotator .owl-nav .owl-next {
        right: -21px;
    }

    /* FOOTERS */
    #footer.f1 .social-icons li+li {
        margin: 3px;
    }

    #footer.f2 .social-icons {
        text-align: center;
    }

    #footer.f3 #map {
        width: 59%;
    }

    #footer.f4 .col-lg-4 {
        margin-bottom: 25px;
    }

    #footer.f4 .map-container {
        height: 500px;
    }

    #footer.f5 #map {
        height: 500px !important;
    }

    #footer-top .alignleft {
        margin: 0 0 25px;
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .hide-sm {
        display: none;
    }

    .img.alignright img,
    .img.alignleft img {
        width: 35vw;
    }

    /* HOME SLIDER */
    #hero {
        height: 44vh;
    }

    #hero .inner .info .btn {
        display: none;
    }

    #hero .inner .info.left h3 {
        display: none;
    }

    #hero .inner .info.left .btn {
        display: none;
    }

    /* PROCEDURES */
    .procedures-half .info {
        width: 100%;
        height: auto;
        display: block;
        padding: 15px;
        text-align: center;
    }

    .procedures-half .info .inner {
        display: block;
    }

    .procedures-half .info .inner h3.border:after {
        display: none;
    }

    .procedures-half .procedures-half-rotator {
        width: 100%;
    }

    .procedures-half .procedures-half-rotator .item .btn {
        width: 300px;
        max-width: 85%;
    }

    .procedures-accordian .procedures>li {
        width: 50%;
    }

    .procedures-accordian .procedures>li.active {
        width: 50%;
    }

    .procedures-accordian .procedures.active>li:not(.active) {
        width: 50%;
    }

    .card-holder {
        height: 75vh;
    }

    /* TESTIMONIALS */
    .testimonials .testimonials-rotator {
        max-width: 86vw;
        margin-top: 0;
    }

    .testimonials .primary-border h3 {
        margin-bottom: -40px;
    }

    .testimonials .primary-border h3 span {
        display: block;
        line-height: 1.5em;
        width: 80%;
        margin: 0 auto;
        top: -50px;
    }

    /* HOMEPAGE */
    .card-background-bottom {
        padding: 50px 15px;
    }

    /* FOOTER */
    #footer.f3>.row {
        padding: 0 15px;
    }

    #footer.f3 #map {
        width: 100%;
        height: 500px !important;
        position: relative !important;
    }
}

@media screen and (max-width: 575px) {
    body {
        font-size: 15px;
    }

    h3 {
        font-size: 2em;
    }

    .btn {
        display: block;
    }

    .pad-lg {
        padding: 15px;
    }

    .tbl .inner {
        padding: 15px 0;
    }

    .img.alignright,
    .img.alignleft {
        margin: 20px auto;
    }

    .img.alignright img,
    .img.alignleft img {
        width: 100vw;
    }

    /* HEADERS*/
    #header.header1 #logo {
        position: relative;
        left: auto;
        top: 15px;
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    #header.header2 .mr-auto,
    #header #stickyHeader .mr-auto {
        margin: auto !important;
    }

    #header.header2 #logo,
    #header #stickyHeader #logo {
        position: relative;
        left: auto;
        top: 15px;
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    #header.header3 .mr-auto {
        margin: auto !important;
    }

    #header.header3 #logo {
        position: relative;
        left: auto;
        top: 15px;
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    /* StickyHeader */
    #stickyHeader #logo {
        position: absolute;
    }

    /* HOME SLIDER */
    #hero {
        height: auto;
    }

    #hero img {
        position: relative;
    }

    #hero .inner {
        display: none;
    }

    #hero.video-overlay {
        height: 50vh;
    }

    #hero video {
        width: 100%;
        height: 100%;
    }

    /* PROCEDURES */
    .procedure-block .procedure-layout {
        padding-top: 0;
    }

    .procedure-block .procedure-layout .procedure-card .card-bottom .primary-hover {
        height: 35px;
    }

    .procedures-hover .procedures-rotator {
        max-width: 100vw;
    }

    .procedures-hover .procedures-rotator .item .excerpt {
        padding: 15px 20px;
    }

    .card-procedures {
        margin: 15px -15px;
    }

    .card-holder {
        height: 60vh;
        width: 100%;
        margin: 0 0 2%;
    }

    /* HOMEPAGE */
    .quotes:before {
        top: 10px;
        left: 0;
        font-size: 100px;
    }

    .quotes:after {
        bottom: 0px;
        right: 0;
        font-size: 100px;
    }

    /* PROCEDURES */
    .procedures-accordian .procedures>li {
        width: 100%;
    }

    .procedures-accordian .procedures>li.active {
        width: 100%;
    }

    .procedures-accordian .procedures.active>li:not(.active) {
        width: 100%;
    }

    /* TESTIMONIALS */
    .testimonials .simple .owl-carousel {
        max-width: 90vw;
    }

    .testimonials .testimonials-rotator {
        max-width: 97vw;
    }

    .testimonials .primary-overlay .testimonials-rotator {
        max-width: 86vw;
    }

    /* FOOTER */
    #footer.f1 .contact .col:not(:last-child) {
        border-right: 0;
    }

    #footer.f2 #map {
        height: 500px !important;
        margin-bottom: 30px;
    }

    #footer.f2 .contact {
        margin: 0 -15px;
    }

    #footer.f3 h3 {
        text-align: center;
    }

    #footer.f3 .col-bg {
        padding: 15px;
    }

    #footer-top {
        padding: 15px;
    }
}