.header2,
#stickyHeader {
    height: 70px;

    #logo {
        position: relative;
        left: auto;
        top: 15px;
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;

        @include mq(sm) {
            left: 80px;
            top: 0px;
            margin-right: 15px;
        }

        @include mq(lg) {
            left: 15px;
        }
    }

    nav {
        display: none;
        position: relative;
        left: 0;
        top: 0;
        width: auto;
        height: 70px;
        display: flex !important;
        align-items: center !important;

        @include mq(lg) {
            display: block;
        }

        .ubermenu {

            .ubermenu-submenu {
                min-width: 230px;
            }

            .ubermenu-item-level-0>.ubermenu-target {
                padding: 0px 25px;
                font-weight: 400;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;

                &::after {
                    display: none;
                }

                span::before {
                    content: '';
                    display: block;
                    height: 2px;
                    position: absolute;
                    width: 50%;
                    left: 25%;
                    bottom: 20%;
                    opacity: 0;
                    transform: rotate(90deg) scale(0);
                    transition: 0.4s;

                    &:hover {
                        opacity: 1;
                        transform: rotate(0deg) scale(1);
                    }
                }
            }
        }
    }

    .social-icons {
        position: relative;
        top: 0;
        right: 15px;
        width: auto;

        li {
            display: inline-block;
        }

    }

    .btn {
        right: 15px;
        height: 40px;
        width: 40px;
        padding: 0;
        position: absolute;
        top: 25px;

        svg,
        i {
            position: relative;
            left: 0;
            top: 0;
            line-height: 40px;

            @include mq(xl) {
                top: 2px;
                left: -4px;
            }
        }

        span {
            display: none;

            @include mq(xl) {
                display: inline-block;
            }
        }
    }
}