.btn {
    position: relative;
    border-radius: 0;
    overflow: hidden;
    z-index: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    width: 100%;
    transition: all .4s ease;

    @include mq(lg) {
        width: 250px;
    }

    i {
        margin-left: 25px;
    }

    &:hover {
        color: $white;
    }
}

.btn-primary {
    background: $primary;
    color: $white;
    border: 1px solid $primary;

    &:hover {
        background: $white;
        color: $primary;
    }
}

.btn-secondary {
    background: $secondary;
    color: $white;
    border: 1px solid $secondary;

    &:hover {
        background: $white;
        color: $secondary;
    }
}