.btn,
#gform_submit_button_4,
#gform_submit_button_3 {
    position: relative;
    border-radius: 0;
    overflow: hidden;
    z-index: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    width: 100%;
    transition: all 0.4s ease;
    text-transform: uppercase;

    @include mq(lg) {
        width: 250px;
    }

    i {
        margin-right: 10px;
    }

    &:hover {
        color: $white;
    }
}

.btn-primary {
    background: $white;
    color: $black;
    border: 1px solid $black;

    &:hover {
        background: $white;
        color: $primary;
    }
}

.btn-secondary {
    background: $white;
    color: $off-black;
    border: 1px solid $black;

    &:hover {
        background: $black;
        color: $white;
    }
}

.btn-tertiary,
#gform_submit_button_4,
#gform_submit_button_3 {
    background: $off-black;
    color: $white;
    border: 1px solid $off-black;

    &:hover {
        background: $white;
        color: $black;
    }
}

#gform_submit_button_4,
#gform_submit_button_3 {
    width: 100% !important;
}
