// Global
// ----------------------------------------------------------------------

$black : #000000;
$white : $white;
$primary : #a71478;
$secondary : #cccccc;

$off-white : #ebebeb;
$off-black : #222222;
$gray : #888888;
$dark-gray : #333332;
$charcoal: #333333;

$magenta : #a71478;

// Alerts
// ----------------------------------------------------------------------

$success : #659f13;
$success-lt : #f2fae3;
$error : #d85030;
$error-lt : #fff1f0;
$warning : #e28327;
$warning-lt : #fffceb;