h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $tertiary-font;
    font-weight: 300;
}

h1 {
    font-size: 4rem;

    &.border {
        position: relative;
        text-align: center;

        &::after {
            content: '';
            display: block;
            width: 150px;
            height: 2px;
            background: $primary;
            margin: 30px auto;
        }

    }
}

h2 {
    font-size: 3.5rem;
}

h3 {
    position: relative;
    text-transform: uppercase;
    margin: 0 auto 7vh;
    font-size: 2rem;

    @include mq(sm) {
        font-size: 2.6rem;
    }
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 400;
}

h6 {
    font-size: 1.15rem;
}