// ==========================================================================
// Helpers
// ==========================================================================

%hidden {
    /*
     * Hide visually and from screen readers:
     * http://juicystudio.com/article/screen-readers-display-none.php
     */
    display: none !important;
    visibility: hidden;
}

%visuallyhidden {
    /*
     * Hide only visually, but have it available for screen readers:
     * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
     */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    /*
     * Extends the .visuallyhidden class to allow the element to be focusable
     * when navigated to via the keyboard: h5bp.com/p
     */
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;

    }
}

%invisible {
    /*
    * Hide visually and from screenreaders, but maintain layout
    */
    visibility: hidden;
}


/* Flex Order
   ========================================================================== */

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

/* Video Background
============================================================================ */

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translate(-50%, -50%);
    }
}


/* Images
   ========================================================================== */

.img.border-right,
.img.border-left {
    display: inline-block;
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 10px;
    }

    &::before {
        left: 10px;
        z-index: 3;
        height: calc(100% - 10px);
        width: calc(100% - 10px);
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
    }

    &::after {
        left: 10px;
        z-index: 2;
        height: 100%;
        width: 100%;
        border: 2px solid $primary;
    }
}


.img.alignleft {
    margin: 0 3vw 20px 0;

    img {
        width: 20vw;
    }

}

.img.alignright {
    margin: 0 0 20px 3vw;

    img {
        width: 20vw;
    }
}

/* Inner Block
   ========================================================================== */

.inner-block {
    padding: 9.5vh 8.33333%;
    position: relative;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
    background: #fff;
}

/* Slants
   ========================================================================== */

.slant-right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100vw;
    z-index: -1;
    height: 100vw;

    svg {
        position: absolute;
        bottom: 0;
        right: 0;

        polygon {
            fill: $primary;
        }
    }
}

.slant-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    height: 100%;

    svg {
        position: absolute;
        top: 0;
        left: 0;

        polygon {
            fill: $primary;
        }

    }
}

/* Quotes
   ========================================================================== */

.quotes {
    position: relative;

    &::before {
        content: '\f10d';
        font-family: 'Font Awesome 5 Pro';
        opacity: .1;
        position: absolute;
        top: 18px;
        left: -50px;
        font-size: 150px;
        z-index: -1;
    }

    &::after {
        content: '\f10e';
        font-family: 'Font Awesome 5 Pro';
        opacity: .1;
        position: absolute;
        bottom: -18px;
        right: -50px;
        font-size: 150px;
        z-index: -1;
    }
}

/* Overlays
   ========================================================================== */

.hasOverlay {
    position: relative;

    * {
        color: #fff;
    }

    >* {
        z-index: 1;
        position: relative;
    }
}

.primary-overlay {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0 !important;
    opacity: 0.7;
}

/* General
   ========================================================================== */

.primary-top {
    border-top: 10px solid $primary;
}

.cta p {
    margin: 0;
}

.cta a {
    margin-left: 30px;
}

/* Visibility
   ========================================================================== */

.visuallyhidden,
.screen-reader-text {
    @extend %visuallyhidden;
}