.gallery-flex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3vw;

    .child-page {
        display: block;
        min-height: 450px;
        height: 45vh;
        align-items: center;
        position: relative;
        z-index: 0;
        border: 5px solid $primary;
        filter: grayscale(100%);
        transition: all .5s ease;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            z-index: 9;

            h4 {
                color: #ffffff;
            }

            &:hover {
                filter: grayscale(0%);
            }
        }

        &::before {
            content: '';
            display: block;
            background: rgba($black, .4);
            color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
}

.gallery-carousel-archive {
    height: 500px;

    @include mq(lg) {
        height: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #fff;
        background: transparent;
        padding: 0;
        margin: 0;
        font-size: 40px;
        transform: translateY(-50%);
        transition: all 300ms linear;
        -webkit-transition: all 300ms linear;
    }

    .swiper-button-next {
        right: -55px;
    }

    .swiper-button-prev {
        left: -55px;
    }

    &:hover {
        @include mq(lg) {
            .swiper-button-next {
                right: 20px;
            }

            .swiper-button-prev {
                left: 20px;
            }
        }
    }
}