#footer.f5 i {
    font-size: 27px;
    margin-right: 15px;
}

#footer.f5 .slant-footer {
    position: absolute;
    top: 0;
    right: 0;
    height: 112%;
    width: 23vh;
}

#footer.f5 .info {
    padding: 5vh 5vw;
}

#footer.f5 .copyright {
    text-align: left;
    padding: 0;
}

#footer.f5 .copyright p {
    margin: 20px 0;
}

#footer.f5 ::-webkit-input-placeholder {
    color: #ddd;
}

#footer.f5 ::-moz-placeholder {
    color: #ddd;
}

#footer.f5 :-ms-input-placeholder {
    color: #ddd;
}

#footer.f5 :-moz-placeholder {
    color: #ddd;
}

footer.f5 .flex-info {
    display: flex;
    justify-content: space-between;
}

footer.f5 .flex-info p {
    display: flex;
}

footer.f5 .flex-info p svg {
    margin: 5px 10px 10px 0;
}

footer.f5 .gform_wrapper .gfield input,
footer.f5 .gform_wrapper .gfield textarea {
    margin-bottom: 2rem;
    padding: 8px 0 !important;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    background: transparent;
    color: $white;
}

footer.f5 input[type=submit] {
    display: flex !important;
    margin-left: auto !important;
    margin-right: 0 !important;
    width: 250px !important;
    justify-content: center;
}

footer.f5 ::-webkit-input-placeholder {
    color: $white;
}

footer.f5 ::-moz-placeholder {
    color: $white;
}

footer.f5 :-ms-input-placeholder {
    color: $white;
}

footer.f5 :-moz-placeholder {
    color: $white;
}