#footer.f6 {
    h4 {
        color: $white;
        font-family: Avenir;
        font-size: 68px;
        font-weight: 700;
        line-height: 1.1em;
        text-transform: uppercase;
    }

    #map {
        height: 416px !important;
    }

    a.directions {
        font-size: 1.2em;
        letter-spacing: 1.5px;
    }

    >.row {
        padding-bottom: 0;
    }

    .gform_wrapper {
        ul.gform_fields {
            li.gfield {
                clear: none !important;
                float: left;
                width: 100%;

                input,
                textarea {
                    background: rgba(255, 255, 255, .45);
                    border: 1px solid rgba(153, 153, 153, 0.5);
                    box-shadow: rgb(153, 153, 153) 1px 1px 1px;
                    color: $white;
                    padding: 12px !important;
                    margin-bottom: 1.25rem;
                }

                &:nth-child(1),
                &:nth-child(3) {
                    input {
                        width: 100%;
                    }

                    @include mq(lg) {
                        width: calc(100% - 15px);
                    }
                }
            }
        }

        .gform_footer {
            margin: 0;
            text-align: right;

            input[type=submit] {
                margin: 0 !important
            }
        }
    }
}