#footer.f6 h4 {
    color: #fff;
    font-family: Avenir;
    font-size: 68px;
    font-weight: 700;
    line-height: 1.1em;
    text-transform: uppercase;
}

#footer.f6 #map {
    height: 416px !important;
}

#footer.f6 a.directions {
    font-size: 1.2em;
    letter-spacing: 1.5px;
}

#footer.f6>.row {
    padding-bottom: 0;
}

#footer.f6 ::-webkit-input-placeholder {
    color: #fff;
}

#footer.f6 ::-moz-placeholder {
    color: #fff;
}

#footer.f6 :-ms-input-placeholder {
    color: #fff;
}

#footer.f6 :-moz-placeholder {
    color: #fff;
}

footer.f6 .gform_wrapper ul.gform_fields li.gfield {
    clear: none !important;
    float: left;
    width: 100%;
}

footer.f6 .gfield:nth-child(1),
footer.f6 .gfield:nth-child(3) {

    input {
        width: 100%;
    }

    @include mq(lg) {
        width: calc(100% - 15px);
    }
}

footer.f6 .gfield input,
footer.f6 .gfield textarea {
    background: rgba(255, 255, 255, .45);
    border: 1px solid rgba(153, 153, 153, 0.5);
    box-shadow: rgb(153, 153, 153) 1px 1px 1px;
    color: #fff;
    padding: 12px !important;
    margin-bottom: 1.25rem;
}

footer.f6 .gform_wrapper .gform_footer {
    margin: 0;
    text-align: right;
}

footer.f6 .gform_wrapper .gform_footer input[type=submit] {
    margin: 0 !important
}