#footer {
    position: relative;
    text-transform: uppercase;
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
    }

    .social-icons li {
        display: inline-block;
    }

    >.row {
        padding: 10vh 0;
    }

    h3 {
        font-size: 4em;
        font-weight: 300;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 2em;
        font-weight: 300;
        margin-bottom: 15px;
    }

    .contact {
        margin: 5vh 0 3vh;
    }

    .col:not(:last-child) {
        border-right: 1px solid $white;
    }

    #map {
        width: 100%;
        height: 100% !important;
    }

    .address-map {
        display: block;
        position: relative;
        bottom: -180px;
        text-align: center;
        color: $white;
        width: 200px;
        padding-top: 70px;
        margin: -70px auto 0;
    }
}

#footer-top {
    padding: 50px 0;
    z-index: 8;
    position: relative;
    background: #333;
    color: $white;

    .alignleft {
        margin: 0 0 25px;
        max-width: 100%;
        float: left;

        @include mq(lg) {
            margin: 0 25px 25px 0;
            max-width: 15vw;
        }
    }
}

#footer-top .blog-header {
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1em;
    margin-bottom: 15px;
    display: block;
}

#footer-top p {
    font-size: .9em;
}

#footer-top .read-more {
    max-width: 250px;
    width: 100%;
    display: block;
    margin: 30px 0 0;
    -webkit-transition: all .4s;
    transition: all .4s;
}

#footer-top .read-more:hover {
    background-color: $white;
}

/* Forms
============================================================= */

body footer .gform_wrapper .top_label div.ginput_container {
    margin: 0;
}

footer,
#sidebar {
    .gform_wrapper {
        .top_label {
            .gfield_label {
                margin: 0;
                display: none;
            }
        }

        ul.gform_fields {
            li.gfield {
                padding: 0;
                margin: auto;
            }
        }

        .gform_footer {
            padding: 0;
            margin: 2rem 0 0 0;
        }
    }
}

/* Copyright */
.copyright {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    text-align: center;
    color: #2c2c2c;

    p {
        margin-bottom: 0;
    }
}

.im-logo {
    margin-left: 5px;
    margin-right: 4px;
    height: 1em;
    display: inline-block;
    margin-top: -1px;
    fill: #fff;
    vertical-align: middle;
    background: $magenta;
    border-radius: 100em;
    padding: 4px;
    width: 25px;
    height: 25px;
}